// base color
$MainColor: #0E98D9;
$blue:#0E98D9;
$light-blue:#3A71A8;
$red:#fc3540;
$pink: #E65D6E;
$green: #67c23a;
$light-green:#E1FF00;
$tiffany: #4AB7BD;
$yellow:#fa8c16;
$panGreen: #67c23a;
$warning: #fa8c16;
$danger: #fc3540;


// sidebar
$menuText:#bfcbd9;
$menuActiveText:#0E98D9;
$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#304156;
$menuHover:#263445;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
